/*fonts*/
@font-face {
	font-family: American;
	src: url(../font/DeathFromAboveDEMO.ttf);
}
@font-face {
	font-family: typewriter;
	src: url(../font/1942.ttf);
}
html {
	background-image:url(../images/WWIIb.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	font-family: 'typewriter', Arial, Verdana, sans-serif;
	font-size: 1.5em;
}
h1 {
	margin-top: 1.5%;
	font-family: 'American';
	font-size: 2.5em;
	text-align: center;
}
#splash {
	width: 40%;
	margin: 0 auto;
	font-size: 1.5em;
	text-align: center;
	margin-top: 15%;
}
#question_container, #fact_container {
	width: 40%;
	margin: 0 auto;
	font-size: 1.5em;
	padding-top: 2%;
	text-align: center;
	background-color: rgba(211,211,211, 0.65);
	display: none;
}
#question_container {
	margin-top: 2%;
	padding-top: 0%;
}
#answer_holder {
	display: inline-block;
	margin-top: 20px;
	text-align: left;
}
input[type="button"] {
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
}
#submit, #retry_button {
	margin-bottom: 2%;
}
#retry_button {
	display: none;
	margin: auto;
	text-align: center;
}
#score_holder {
	width: 75%;
	display: inline-block;
	margin-right: 200px;
}
#question_score {
	display: inline-block;
}